<div>
  <div style="border: 1px green solid; background: lightgreen; position: absolute; width: 100%"
       fxLayout="column" fxLayoutAlign="space-between stretch" [ngStyle]="{'height': height + 'px'}">

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="handle" appDraggable (onDrag)="dragUp($event)">drag_handle</mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">Test</div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="handle" appDraggable (onDrag)="dragDown($event)">drag_handle</mat-icon>
    </div>
  </div>
</div>
