<div fxLayout="column" fxLayoutAlign="space-between stretch" class="block" [ngStyle]="blockStyle">
  <!-- TOP GRABBER -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon drgHandle="n-resize" drgSnapSize="60" [drgScale]="scale" (drgDrag)="slideTop($event)">drag_handle</mat-icon>
  </div>

  <!-- CONTENT -->
  <div fxFlex fxLayout="row" fxLayoutAlign="center center"
       drgHandle="grab" drgSnapSize="60" [drgScale]="scale" (drgDrag)="slide($event)">
    {{data.title}} ({{data.start}} - {{data.end}})
  </div>

  <!-- BOTTOM GRABBER -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon drgHandle="s-resize" drgSnapSize="60" [drgScale]="scale" (drgDrag)="slideBottom($event)">drag_handle</mat-icon>
  </div>
</div>
